body,
html {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', 'Times New Roman', Times, serif;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  margin-top: auto;
}



@media screen and (max-width: 767px) {
  header {
    flex-direction: column;
  }
}