* {
  margin: 0;
  padding: 0;

}

.Homepage {
  font-family: 'Segoe UI', 'Times New Roman', Times, serif;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  background: #171717;
  color: white;
}