.peep-input-wrapper {
    background-color: #F5F8FA;
    border: 1px solid #AAB8C2;
    padding: 10px;
    margin-bottom: 10px;
}

.btn-primary {
    background-color: #1DA1F2;
    border-color: #1DA1F2;
}

.form-control {
    border: 1px solid #AAB8C2;
}